body {
  font-family: "Helvetica Neue", Helvetica, arial;
  margin-left: 30px;
  font-weight: 200;  
}

#header {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#menu {
  border-top: 1px solid black;
  padding-top: 3px;
  font-size: 15px;
}

#menu .item {
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 10px;
}

#left-column {
  vertical-align: top;
  min-width: 250px;  
  font-size: 14px;
}

#left-column h1 {
  padding-top:0;
  margin-top: 0;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#left-column .project a {
  text-decoration: none;
  color: black;
}

#content {
  vertical-align: top;  
}

#content h1 {
  padding-top:0;
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.photo {
  vertical-align: top;
  padding: 6px;
  width: 700px;
}

.comment {
 margin-top: 60px;
 margin-left: 10px;
 margin-right: 10px;
 text-align: justify; 
}

